/*Подключение шрифтов*/
@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-weight: 400;
	src: url('../fonts/inter_cyrillic-regular.woff2') format('woff2');
	src: url('../fonts/inter_cyrillic-regular.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-weight: 700;
	src: url('../fonts/inter_cyrillic-700.woff2') format('woff2');
	src: url('../fonts/inter_cyrillic-700.woff') format('woff');
}

/*Обнуление стилей*/
html {
	box-sizing: border-box;
	position: relative;
	overflow-x: hidden;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

body {
	position: relative;
	margin: 0;
	font-size: 18px;
	line-height: 1.2;
	color: #18171A;
	font-family: Inter, sans-serif;
}

h1,
h2,
h3,
p,
ul {
	margin: 0;
}

ul {
	padding: 0;
	list-style: none;
}

button {
	padding: 0;
	cursor: pointer;
	background-color: transparent;
	border: none;
}

/*Наследие шрифта*/
input,
button,
textarea {
	font: inherit;
}


a {
	color: inherit;
	text-decoration: none;
}

img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 1324px;
	/* 1180 +72 +72 прибавил отступы из-за box-sizing: border-box;*/
	margin: 0 auto;
	padding: 0 72px 0 72px;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 20px 0;
	color: #fff;
}

.header__container {
	display: grid;
	grid-template-columns: 3fr 6fr 3fr;
	align-items: center;
	gap: 15px;
}

.header__link-phone {
	justify-self: end;
	display: flex;
	align-items: center;
	gap: 3px;
	color: #B8FF20;
	transition: color 0.3s ease-in-out;

}

.header__phone-number {
	color: #fff;
	transition: color 0.3s ease-in-out;
}

.header__link-phone:hover,
.header__link-phone:hover .header__phone-number {
	color: #CDF478;
}

.navigation__list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

.navigation__item {
	transition: color 0.3s ease-in-out;
}

.navigation__item:hover {
	color: #CDF478;
}

.hero {
	background-image: url('/img/eduardo-alvarado-iOU5iyuw6d8-unsplash_1.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 220px;
	padding-bottom: 120px;
	color: #fff;
	margin-bottom: 60px;
}

.hero__title {
	font-weight: 700;
	font-size: 130px;
	line-height: 1;
	margin-bottom: 10px;
}

.hero__title-letter {
	color: #B8FF20;
}

.hero__subtitle {
	font-size: 26px;
	margin-bottom: 60px;
}

.hero__button {
	min-width: 380px;
	height: 78px;
	padding: 14px 30px;
	font-size: 26px;
	font-weight: 700;
	color: #18171A;
	background-color: #FFFFFF;
	border: 2px solid transparent;
	border-radius: 8px;
	outline: none;
	transition: background-color 0.3s ease-in-out, border-color 0.2s ease-in-out;
}

.hero__button:hover {
	background-color: #CDF478;
}

.hero__button:focus {
	border-color: #B8FF20;
}

.hero__button:active {
	background-color: #B8FF20;
}

.product {
	padding: 60px 0;
}

.product:nth-child(odd) .product__container {
	flex-direction: row-reverse;
}

.product__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.product__content {
	max-width: 582px;
}

.product__title {
	font-weight: 700;
	font-size: 60px;
	line-height: 1;
	margin-bottom: 20px;
}

.product__description {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 50px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
}

.product__button {
	min-width: 380px;
	height: 78px;
	padding: 14px 30px;
	font-size: 26px;
	font-weight: 700;
	color: #18171A;
	background-color: #B8FF20;
	;
	border: 2px solid transparent;
	border-radius: 8px;
	outline: none;
	transition-property: background-color, border-color;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s, 0.3s, 0.2s;
}

.product__button:hover {
	background-color: #CDF478;
}

.product__button:focus {
	border: 2px solid #18171A;
}

.product__button:active {
	color: #FFF;
	transition-duration: 0.2s;
	background-color: #18171A;
}

.contacts-section {
	padding-top: 60px;
}

.contacts__title {
	font-weight: 700;
	font-size: 60px;
	line-height: 1;
	margin-bottom: 50px;
}

.contacts__wrap {
	box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
}

.contacts__container {
	display: flex;
	align-items: center;
	padding-left: max(72px, calc((100% - 1180px)/2));
	padding-right: 0;
	max-width: none;
}

.contacts__column {
	width: 380px;
	display: flex;
	flex-direction: column;
	gap: 36px;
	padding-right: 20px;
}

.contacts__list {
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.contacts__link {
	display: flex;
	align-items: center;
	gap: 3px;
	transition: color 0.3s ease-in-out;
}

.contacts__link svg {
	color: #B8FF20;
	transition: color 0.3s ease-in-out;
}

.contacts__link:hover,
.contacts__link:hover svg {
	color: #CDF478;
}

.social {
	display: flex;
	gap: 30px;
}

.social__link {
	color: #B8FF20;
}

.social__link:hover {
	color: #CDF478;
}

.social__link:focus {
	display: block;
	color: #B8FF20;
	/*border: 2px solid #B8FF20; */
	outline: 2px solid #B8FF20;
	outline-offset: 3px;
	border-radius: 50%;
}

.social__link:active {
	display: block;
	color: #CDF478;
	/*border: 2px solid #B8FF20; */
	outline: 2px solid #B8FF20;
	outline-offset: 3px;
	border-radius: 50%;
}

.contacts__map-wrapper {
	flex-shrink: 1;
	width: calc(100% - 380px);
	height: 386px;
}

.contacts__map {
	width: 100%;
	height: 100%;
}

.footer {
	background: #18171A;
	padding-top: 60px;
	padding-bottom: 30px;
	color: #FFF;
}

.footer__logo {
	width: 160px;
	margin-bottom: 40px;
}

.footer__columns {
	display: flex;
	gap: 120px;
	margin-bottom: 18px;
}

.footer__column {
	max-width: 280px;
}

.footer__list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer__link {
	transition: color 0.3s ease-in-out;
}

.footer__link:hover {
	color: #CDF478;
}

.footer__title {
	font-weight: 700;
	margin-bottom: 10px;
}

.contacts__list-footer {
	gap: 10px;
	margin-bottom: 20px;
}

.footer__copyright {
	font-size: 12px;
	line-height: 1.3;
}

.modal {
	position: fixed;
	inset: 0;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	cursor: pointer;
	overflow-x: hidden;
	overflow-y: auto;
}

.modal__block {
	position: relative;
	width: 680px;
	padding: 40px 15px;
	margin: auto;
	background-color: #fff;
	cursor: default;
	border: 1px solid #646464;
	border-radius: 8px;
}

.modal__container {
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
	max-width: 440px;
	margin: 0 auto;
}

.modal__title {
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	max-width: 380px;
}

.modal__form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 100%;
}

.modal__text {
	display: block;
	font-weight: 700;
	margin-bottom: 10px;
}

.modal__input {
	border: 1px solid #AFAFAF;
	border-radius: 6px;
	width: 100%;
	height: 78px;
	padding: 15px;
}

.modal__input::placeholder {
	color: #AFAFAF;
}

.modal__button {
	min-width: 380px;
	height: 78px;
	padding: 14px 30px;
	font-size: 26px;
	font-weight: 700;
	color: #18171A;
	background-color: #B8FF20;
	;
	border: 2px solid transparent;
	border-radius: 8px;
	outline: none;
	transition-property: background-color, border-color;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s, 0.3s, 0.2s;
}

.modal__button:hover {
	background-color: #CDF478;
}

.modal__button:focus {
	border: 2px solid #18171A;
}

.modal__button:active {
	color: #FFF;
	transition-duration: 0.2s;
	background-color: #18171A;
}

.modal__close {
	position: absolute;
	top: 15px;
	right: 15px;
}


/* Медиа запросы */
/* Медиа запрос 1200 */
@media (max-width:1200px) {
	.navigation__list {
		gap: 20px;
	}

	.hero {
		padding: 160px 0 70px;
		margin-bottom: 40px;
	}

	.product {
		padding: 40px 0;
	}

	.product__photo {
		width: 380px;
	}

	.product__title {
		font-size: 54px;
	}

	.product__description {
		margin-bottom: 20px;
	}

	.contacts-section {
		padding-top: 40px;
	}

	.contacts__title {
		font-size: 50px;
	}

	.footer__columns {
		gap: 80px;
	}
}

/* Медиа запрос 1020 */
@media (max-width:1020px) {
	.container {
		padding: 0 29px;
	}

	.contacts__container {
		padding-left: max(29px, calc((100% - 1180px)/2));
		padding-right: 0;
	}
}

/* Медиа запрос 940 */
@media (max-width:940px) {

	body {
		font-size: 14px;
	}

	.navigation__list {
		gap: 15px;
	}

	.header__logo {
		width: 110px;
	}

	.hero {
		padding: 150px 0 80px;
		margin-bottom: 25px;
	}

	.product {
		padding: 25px 0;
	}

	.product__description {
		-webkit-line-clamp: 3;
	}

	.contacts__section {
		padding-top: 25px;
	}

	.hero__title {
		font-size: 80px;
		margin-bottom: 4px;
	}

	.hero__subtitle {
		font-size: 20px;
	}

	.hero__button {
		min-width: 260px;
		height: 50px;
		font-size: 18px;
	}

	.product__container {
		gap: 10px;
	}

	.product__photo {
		width: 260px;
	}

	.product__title {
		font-size: 30px;
		margin-bottom: 10px;
	}

	.product__description {
		margin-bottom: 20px;
	}

	.product__button {
		min-width: 260px;
		height: 50px;
		font-size: 18px;
	}

	.contacts__title {
		font-size: 30px;
		margin-bottom: 20px;

	}

	.contacts__column {
		width: 260px;
		gap: 15px;
	}

	.contacts__map-wrapper {
		width: calc(100% - 260px);
	}

	.contacts__list {
		gap: 10px;
	}

	.contacts__social {
		gap: 20px;
	}

	.footer {
		padding-top: 40px;
		padding-bottom: 50px;
	}

	.footer__columns {
		gap: 50px;
		margin-bottom: 43px;
	}

	.footer__column {
		max-width: 200px;
	}

	.footer .social__link {
		display: block;
		width: 36px;
		height: 36px;
	}
}

/* Медиа запрос 760 */

@media (max-width:760px) {
	.header__container {
		grid-template-columns: 1fr 1fr;
		gap: 15px;
	}

	.header__navigation {
		order: 1;
		grid-column: 1 / 3;
	}
}

.ymaps-2-1-79-image {
	width: 35px;
	height: 35px;
}

;

/* Медиа запрос 600 */
@media (max-width:600px) {

	body {
		font-size: 14px;
	}

	.header__phone-number {
		font-size: 12px;
	}

	.container {
		padding: 0 15px;
	}

	.navigation__list {
		font-size: 12px;
	}

	.hero {
		padding-top: 260px;
		padding-bottom: 30px;
		background-image: url('../img/background-m.jpg');
	}

	.hero__title {
		font-size: 50px;
	}

	.hero__button {
		font-size: 14px;
		margin-bottom: 20px;
		width: 290px;
	}

	.product__container,
	.product:nth-child(odd) .product__container {
		flex-direction: column;
		align-items: center;
	}

	.product__button {
		width: 100%;
	}

	.contacts__title {
		margin-bottom: 15px;
	}

	.contacts__container {
		flex-direction: column;
		padding: 0;
	}

	.contacts__column {
		width: 100%;
		padding: 30px 15px;
	}

	.contacts__map-wrapper {
		width: 100%;
	}

	.footer {
		padding-top: 30px;
		padding-bottom: 20px;
	}

	.footer__logo {
		margin-bottom: 30px;

	}

	.footer__columns {
		flex-wrap: wrap;
		gap: 30px;
	}

}