/*Подключение шрифтов*/
@font-face {
	font-family: 'Inter';
	src: url('../fonts/inter_cyrillic-regular.woff2') format('woff2'),
		url('../fonts/inter_cyrillic-regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/inter_cyrillic-700.woff2') format('woff2'),
		url('../fonts/inter_cyrillic-700.woff') format('woff');
	font-display: swap;
	font-weight: 700;
}

/*Обнуление стилей*/
html {
	box-sizing: border-box;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

body {
	position: relative;
	margin: 0;
	font-size: 18px;
	line-height: 1.2;
	color: #18171A;
	font-family: Inter, sans-serif;
}

h1,
h2,
h3,
p,
ul {
	margin: 0;
}

ul {
	padding: 0;
	list-style: none;
}

button {
	padding: 0;
	cursor: pointer;
	background-color: transparent;
	border: none;
}

/*Наследие шрифта*/
input,
button,
textarea {
	font: inherit;
}


a {
	color: inherit;
	text-decoration: none;
}

img,
svg {
	display: block;
	max-height: 100%;
	height: auto;
}

.container {
	max-width: 1324px;
	/* 1180 +72 +72 прибавил отступы из-за box-sizing: border-box;*/
	margin: 0 auto;
	padding: 0 72px 0 72px;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 20px 0;
	color: #fff;
}

.header__container {
	display: grid;
	grid-template-columns: 3fr 6fr 3fr;
	align-items: center;
	gap: 15px;
}

.header__link-phone {
	justify-self: end;
	display: flex;
	align-items: center;
	gap: 3px;
	color: #B8FF20;
	transition: color 0.3s ease-in-out;

}

.header__phone-number {
	color: #fff;
	transition: color 0.3s ease-in-out;
}

.header__link-phone:hover,
.header__link-phone:hover .header__phone-number {
	color: #CDF478;
}

.navigation__list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

.navigation__item {
	transition: color 0.3s ease-in-out;
}

.navigation__item:hover {
	color: #CDF478;
}

.hero {
	background-image: url('/img/eduardo-alvarado-iOU5iyuw6d8-unsplash.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 220px;
	padding-bottom: 120px;
	color: #fff;
	margin-bottom: 60px;
}

.hero__title {
	font-weight: 700;
	font-size: 130px;
	line-height: 1;
	margin-bottom: 10px;
}

.hero__title-letter {
	color: #B8FF20;
}

.hero__subtitle {
	font-size: 26px;
	margin-bottom: 60px;
}

.hero__button {
	min-width: 380px;
	height: 78px;
	padding: 14px 30px;
	font-size: 26px;
	font-weight: 700;
	color: #18171A;
	background-color: #FFFFFF;
	border: 2px solid transparent;
	border-radius: 8px;
	outline: none;
	transition: background-color 0.3s ease-in-out, border-color 0.2s ease-in-out;
}

.hero__button:hover {
	background-color: #CDF478;
}

.hero__button:focus {
	border-color: #B8FF20;
}

.hero__button:active {
	background-color: #B8FF20;
}

.product {
	padding: 60px 0;
}

.product:nth-child(odd) .product__container {
	flex-direction: row-reverse;
}

.product__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.product__content {
	max-width: 582px;
}

.product__title {
	font-weight: 700;
	font-size: 60px;
	line-height: 1;
	margin-bottom: 20px;
}

.product__description {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 50px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
}

.product__button {
	min-width: 380px;
	height: 78px;
	padding: 14px 30px;
	font-size: 26px;
	font-weight: 700;
	color: #18171A;
	background-color: #B8FF20;
	;
	border: 2px solid transparent;
	border-radius: 8px;
	outline: none;
	transition-property: background-color, border-color;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s, 0.3s, 0.2s;
}

.product__button:hover {
	background-color: #CDF478;
}

.product__button:focus {
	border-color: 2px solid #18171A;
}

.product__button:active {
	color: #FFF;
	transition-duration: 0.2s;
	background-color: #18171A;
}

.contacts-section {
	padding-top: 60px;
}

.contacts__title {
	font-weight: 700;
	font-size: 60px;
	line-height: 1;
}

.contacts__wrap {
	box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
}

.contacts__container {
	display: flex;
	align-items: center;
	padding-left: max(72px, calc((100% - 1180px)/2));
	padding-right: 0;
	max-width: none;
}

.contacts__column {
	width: 380px;
	display: flex;
	flex-direction: column;
	gap: 36px;
	padding-right: 20px;
}

.contacts__list {
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.contacts__link {
	display: flex;
	align-items: center;
	gap: 3px;
	transition: color 0.3s ease-in-out;
}

.contacts__link svg {
	color: #B8FF20;
	transition: color 0.3s ease-in-out;
}

.contacts__link:hover,
.contacts__link:hover svg {
	color: #CDF478;
}

.social {
	display: flex;
	gap: 30px;
}

.social__link {
	color: #B8FF20;
}

.social__link:hover {
	color: #CDF478;
}

.contacts__map-wrapper {
	flex-shrink: 1;
	width: calc(100% - 380px);
	height: 386px;
}

.contacts__map {
	width: 100%;
	height: 100%;
}

.footer {}

.footer__logo {}

.footer__columns {}

.footer__column {}

.footer__list {}

.footer__item {}

.footer__link {}

.footer__title {}

.footer__description {}

.footer__copyright {}